.sidebar{
    position: absolute;
    left:0;
    top: 0;
    height: 100vh;
    width: 17.25%;
    background-color: #36363D;
    z-index: 1024;
    transition: .8s ease-out all;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.username{
    font-size: 2.8rem;
    letter-spacing: 0.25rem;
}

.sidebar h1{
    position: relative;
    margin: 1.5rem auto;
}

.sidebar h1::after{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 12.5%;
    width: 75%;
    border-bottom: 1.5px solid #E1481B;
}

.btn-create{
    color: #EAF3F0;
    font-family: inherit;
    border-radius: 0 2rem 2rem 0;
    background-color: #AEA8AB;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
}

.div{
    margin-top: 2.5rem;
}

.fa-plus-circle{
    color:#3B323C;
    position: relative;
    z-index: 1024;
}

.fa-plus-circle::after{
    content: '';
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateX(-150%);
    transform: translateY(-50%);
    background-color: #fff;
    z-index: -1;
    border-radius: 2rem;
    transition: .8s ease-in-out;
}


h2{
    font-size: 2.4rem;
    padding: 0rem 1rem;
    margin-bottom: 0rem;
    position: relative;
}



.note-ul{
    list-style: none;
    padding-left: 0;
}

.note-li{
    font-size: 1.1rem;
    letter-spacing: .25rem;
    text-transform: uppercase;
    background-color: #AEA8AB;
    font-weight: bold;
    color: #EAF3F0;
    margin: .75rem auto;
    padding: .50rem ;
    max-width: 10rem;
    border-radius: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn-sidebar{
    color: #E1481B;
    cursor: pointer;
}

.btn-edit{
    cursor: pointer;
    color: #ffffff;
    font-size: 1rem;
}