@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
.note-item{
    max-width: 20rem;
    min-width: 15rem;
    height: 18rem;
    background-color: #ffc400;
    margin: 2.5rem;
    transform: skewY(2deg);
    position: relative;
    -webkit-box-shadow: 10px 10px 14px 1px #a0a0a0; 
    box-shadow: 10px 10px 14px 1px #626262;
}

.note-title{
    padding: 1rem;
    margin: 0;
    /* background-color: #daa700; */
    background-color: #bb8f00; 
    color: #fff;
	font-size: 1.6rem;
    text-transform: uppercase;
}

.note-desc{
    padding: 0rem 1rem 1.5rem 1rem;
    text-align: justify;
    font-family: 'Patrick Hand', cursive;}

.btn-close{
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    font-size: 1.5rem;
    color: rgb(41, 41, 41);
    cursor: pointer;
}

.noteHolder{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    margin-left: 17.25%;
}

.textArea {
    border: none; /* Removes the default border */
    background-color: inherit;
    padding: 0rem 1rem 1.5rem 1rem;
    text-align: justify;
    font-family: 'Patrick Hand', cursive;
    display: block;
    max-width: 90%;
    height: auto;
    font-size: 1rem;
    resize: none;
    margin: 16px 0px;
    resize: none;
    text-align: justify;
    white-space: pre-line;
    -moz-text-align-last: left;
    text-align-last: left;

  }
  
  .textArea:focus {
    outline: none /* Removes the border when the input is clicked */
  }

.fa-check{
    cursor: pointer;
    position: absolute;
    font-size: 1.6rem;
    right: 1.2rem;
    bottom: .5rem;
}